<div id="panel">
	<table id="paneltable">
		<tr>
			<td>
			<div id="title">
				<a href="./">Catoposter</a>
			</div></td>
			<td class="right">
			<form action="index.php?controller=login" id="login_form" method="POST">
				<div id="formlogon" title="Press Enter, please, to submit form.">
					<input type="text" id="panellogin" name="login" value="login" />
					<input type="password" id="panelpass" name="pass" value="password" />
				</div>
			</form></td>
		</tr>
	</table>
</div>
<div id="header">
	<div id="headtitle">
		<img src="img/cat.png" id="logo" alt="logo" title="logo" />CatoPoster
	</div>
</div>
<div id="menu">
	<ul class="menu">
		<li class="menutab"><a href="index.php?controller=addposter">Add your Poster!</a></li>
		<li class="menutab"><a href="./">Menu#2</a></li>
		<li class="menutab"><a href="./">Menu#3</a></li>
	</ul>
</div>