<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<? include("core/view/head.html"); ?>
	<body>
		<!--[if IE]><table align="center"><![endif]-->
		<div id="wrapper">
			<div id="mainblock">
				<? include("core/view/header.html") ?>
				<div id="body">
					<div id="contentblock">
						<div id="content">
							
						</div>
						<? include("core/view/sidebar.html"); ?>
					</div>
				</div>
			</div>
			<? include("core/view/footer.html"); ?>
		</div>
		<!--[if IE]></table><![endif]-->
	</body>
</html>